<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
     
    <add name="DB_A62560_sinanqConnectionString" connectionString="Data Source=***;Initial Catalog=***;User ID=***;Password=********"
      providerName="SQLOLEDB" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.AnalysisServices.AdomdClient, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

 <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>

